{% extends "base.html" %}
{% block title %}YouTube Downloader{% endblock %}


<style>
    p{
        font-size: 20px;
        
    }

    .p-info{
    text-align:left;
    display: block;

}
</style>

<body>
    
      {% block content %}
      <div id="how-to">
          <h2 style="text-align: center;font-size: 45px;margin-bottom: 60px; padding-top: 30px;">How to Use?</h2>
        <div style="width: 100%;">
            <div style="width: 60%;margin: auto;">
                <p>
                    Hi, my name is Andrej, I am 21 years old software engineering student from Croatia, but studying in Serbia.
                    I made this project because I have problems with finding free and fast online service for simply downloading songs 
                    from Youtube. I hope you like my project, and it serves its purpose i.e to help you download your favourite songs from the Web.
                </p>
                <p>By using my YouTube Downloader you can easily, simply and very fast download .mp3 files. 
                    This service is completely free to use, and it has no limitations for how much are you downloading .mp3 files.
                </p>
                <p>
                    This service is pretty much straightforward, you just need to have copied to clipboard URL that you want to download.
                    Next step is to simply paste it in search field, and press 'download' button or just press Return key on your keyboard.
                    Simple as that. 
                </p>
                <p>
                    Important Note: Your .mp3 files are being downloaded to your download folder you chose in your internet browser (Google Chome, Edge, Firefox)
                </p>
                <p>
                    Thank you for using this software that i've made.
                </p>

                <i style="float:right"><strong>Developed by: Plavsic Andrej</strong></i>
            </div>
        </div>
      </div>
      {% endblock %}

</html>